body {
    background-image: url(../imgs/vecteezy_abstract-luxury-glowing-lines-curved-overlapping-on-dark_11545805.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.offcanvas-body {
    background-color: rgba(14, 39, 90);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.bg-blue{
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar-light {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-decoration: none;
}
.text-bg-blue {
    background-color:  rgb(14, 39, 90, 0.0);
}
.nav-white {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-outline-light {
    border-radius: 100px;
    margin-top: 30px;
    width: 100%;
}
.imagen-horario {
    height: 700px;
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}