<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/CSS/iniciosesion.css">
    <link rel="icon" href="../static/imgs/apple-icon-76x76.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Inicia sesion o Registrate!</title>
</head>
<body>
  <style>
    body {
      background-image: url(../static/imgs/vecteezy_abstract-luxury-glowing-lines-curved-overlapping-on-dark_11545805.jpg);
      background-repeat: no-repeat; 
      background-size: cover;
      height: 100vh;
    }
    .form-check-label {
      color: white;
    }
    .btn-outline-info {
      width: 100%;
    }
    </style> 
    <div class="login">
        <div class="form-container" method = "post">
          <img src="../static/imgs/apple-icon-76x76.png" alt="logo" class="logo">
          <form action="/" method="post" class="form">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
              <label for="floatingInput">Correo electronico</label>
            </div>
            <div class="form-floating mb-4">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="form-check form-switch mb-3    ">
              <input class="form-check-input" type="checkbox" role="switch" id="checkbox" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Recordarme</label>
            </div>
            <a href="/templates/index2.html" action="/inicio">
            <button href="../templates/index2.html" type="button" class="btn btn-primary mb-4">Iniciar sesion</button>
            </a>
            <a class="" href="/">¿Olvidaste tu Contraseña?</a>
          </form>
          <a href="registrarse.html">
          <button type="button" class="btn btn-outline-info mb-1">Registrate</button>
          </a>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>