<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="IMAGENES/favicon-256x256.png">
    <link rel="stylesheet" href="CSS/Interfaz.css">
</head>
<header>
    <img  class="logo" src="IMAGENES/descarga.jpeg" alt="imagen">
     <h1>Bienvenidos a la pagina del Gonzalo Arango!</h1>
     <nav class="nav2">
        <ul><a href="iniciosesion.html" class="ul">Iniciar sesion</a></ul>
        <br>
        <ul><a href="registrarse.html" class="ul">Registrarse</a></ul>     
     </nav>
     <div>
     <nav class="nav1">
            <a href="#matriculas" class="li1">Matriculas</a></li>
            
            <a href="#horarios" class="li2">Horarios</a></li>
            
            <a href="#listas" class="li3">Listas</a></li>
            
            <a href="#contactenos" class="li4">Contactenos</a></li>
    </nav>
     </div>
</header>
<body>
</body>
</html>
<footer>
    <h2>Contactenos!</h2>
    <h3> <img src="IMAGENES/facebook.png" alt="facebook" class="iconofooter"> <a href="#">Facebook.</a> 
         <hr>
         <img src="IMAGENES/instagram.png" alt="facebook" class="iconofooter"><a href="#">Instagram.</a>
         <hr>
         <img src="IMAGENES/whatsapp.png" alt="facebook" class="iconofooter"><a href="#">Whatsapp.</a></h3>
</footer>