<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Eliminar Usuario</th>
            <th>Actualizar</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario[0] }}</td>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[2] }}</td>
            <td>{{ usuario[3] }}</td>
            <td>{{ usuario[4] }}</td>
            <td>
                <form action ="{{ url_for('eliminar_usuario', id=usuario[0]) }}" method="post">
                <input type="submit" value="Eliminar">
                </form>
            </td>
            <td>
                <form action="{{ url_for('actualizar_usuario', id=usuario[0]) }}" method="get">
                <input type="submit" value="Actualizar">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>